.col-1{
    position: relative;
    background-color: beige;
    border-width: 3px;
    border-style: groove;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.b2{
    position: absolute;
    background-color: rgb(238, 238, 124);
    border-width: 3px;
    border-style: groove;
    width: 170px;
    height: 190px;
    margin-left: 20px;
    margin-top: 40px;
}

.b3{
    position: absolute;
    background-color: rgb(165, 165, 40);
    border-width: 3px;
    border-style: groove;
    width: 79%;
    height: 190px;
    left: 235px;
    margin-top: 40px;
}

.b4{
    position: relative;
    background-color: rgb(128, 128, 35);
    border-width: 3px;
    border-style: groove;
    width: 170px;
    height: 170px;
    top: 210px;
    margin-left: 20px;
    margin-top: 70px;
}

.b5{
    position: relative;
    background-color: rgb(252, 252, 152);
    border-width: 3px;
    border-style: groove;
    width: 80%;
    height: 170px;
    top: 15px;
    left: 230px;
}
